body, html {
  height: 100%;
}

h1 {
  line-height: 34px;
  margin-top: 40px;
}

h2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

h4 {
  font-weight: 400;
  text-transform: capitalize;
}

ul {
  padding-left: 0;
}

li {
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 3;
  list-style: none;
  padding-top: 20px;
}

a {
  text-decoration: none;
}

.container-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  margin: 0;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.873);
  box-shadow: 1px 1px 10px 1px rgb(157, 155, 155);
  margin-top: 30px;
}

.container {
  border-width: 10px;
  max-width: 600px;
}

.row {
  margin-right: -75px;
  align-items: centre;
}

.col-2 {
  padding: 0px;
}

.temp-left {
  padding-left: 45px;
}

.temp-right {
  padding-left: 45px;
}

.sunset {
  margin-bottom: 0px;
}

.search-form {
  width: 89%;
  padding: 20px;
  border-radius: 20px;
  border-width: 1px;
  border-color: rgb(158, 152, 152);
  margin-bottom: 0px;
  padding-bottom: 0;
}

.search-bar {
  padding: 8px;
  border-radius: 8px;
  border-width: 1px;
  width: 280px;
}

.search-button {
  padding: 7px 13px;
  border-radius: 8px;
  border-width: 0px;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
  height: 41px;
}

.top-info {
  margin-bottom: -10px;
  padding-left: 45px;
}

.location-icon {
  font-size: 20px;
  outline: 0px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.units {
  position: relative;
  top: -28px;
  text-decoration: none;
}

.conditions {
  position: absolute;
  top: 280px;
  left: 30px;
}

.nav-icon {
  font-size: 20px;
  position: relative;
  top: 25px;
  left: 442px;
}

.weather-icon {
  width: 180px;
  height: 160px;
  line-height: -10;
  block-size: auto;
}

.forecast-display {
  border-width: 10px;
  max-width: 600px;
  border: 1px solid #dadde1;
  padding: 20px 0;
  padding-left: 7px;
  padding-right: 70px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.873);
  box-shadow: 1px 1px 10px 1px rgb(157, 155, 155);
  text-align: center;
}

.forecast-display-date {
  font-size: 16px;
}

.data {
  margin: 0px;
}

.col {
  line-height: 50px;
  text-align: center;
}

.rain-cloud-icon {
  color: rgb(158, 152, 152);
  font-size: 30px;
}

.sun-cloud-icon {
  color-scheme: light;
  color: rgb(251, 251, 137);
  font-size: 30px;
}

#current-location-button {
  padding-top: 0px;
}

#humidity {
  line-height: 10px;
  padding-bottom: 10px;
}
